.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
/.idea/.gitignore
/ece382n-distributed-systems.iml
/.idea/libraries/ece382n_distributed_systems.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml